<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Категории поддержки</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> [Категории] <a th:href="@{'/admin/teams'}">[Группы]</a>
    <a th:href="@{'/admin/users'}">[Пользователи]</a>
    <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Группа по-умолчанию</th>
            <th></th>
        </tr>
        </thead>
        <tbody  th:each="supportCaterogy : ${supportCategories}">
        <tr th:if="${supportCaterogy.id != editedSupportCategory.id}">
            <td th:text="${supportCaterogy.name}"></td>
            <td th:text="${supportCaterogy.description}"></td>
            <td th:text="${supportCaterogy.team.name}"/></td>
            <td><a th:href="@{'/admin/cats?edit=' + ${supportCaterogy.id}}"
                   th:if="${supportCaterogy.id != editedSupportCategory.id}">
                <img th:src="@{/img/editicon.png}" width="33" height="33" alt="edit"></a>
                <a th:href="@{'/admin/cats'}"
                   th:if="${supportCaterogy.id == editedSupportCategory.id}">
                    <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="edit"></a>
                <a th:href="@{'/admin/cats?delete=' + ${supportCaterogy.id}}">
                    <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
            </td>
        </tr>
        <tr th:if="${supportCaterogy.id == editedSupportCategory.id}">
            <form th:id="editform" th:action="@{/admin/cats}" th:object="${editedSupportCategory}" method="post" class="form-horizontal">
                <input th:field="${editedSupportCategory.id}" type="hidden">
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedSupportCategory.name}" class="form-control" maxlength="50"/></td>
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedSupportCategory.description}" class="form-control" maxlength="100"/>
                </td>
                <td>
                <div class="input-group">
                    <select th:field="${editedSupportCategory.team.id}">
                        <option th:each="supportGroup : ${supportGroups}"
                                th:value="${supportGroup.id}"
                                th:text="${supportGroup.name}">Wireframe</option>
                    </select>
                </div></td>
                <td>
                <div class="input-group">
                    <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Сохранить" />
                    <a th:href="@{'/admin/cats'}">
                        <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="edit"></a>
                    <a th:href="@{'/admin/cats?delete=' + ${editedSupportCategory.id}}">
                        <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
                </div></td>
            </form>
        </tr>
        </tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><a th:href="@{'/admin/cats?add=1'}">
                <img th:src="@{/img/plusicon.png}" width="33" height="33" alt="add"></a></th>
        </tr>
    </table>
    <br>
</div>

</body>
</html>