<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Специалисты поддержки</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/admin/cats'}">[Категории]</a>
    <a th:href="@{'/admin/teams'}">[Группы]</a> [Специалисты] <a th:href="@{'/admin/users'}">[Пользователи]</a>
    <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Логин</th>
            <th>ФИО</th>
            <th>e-mail</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expert : ${experts}">
            <td th:text="${expert.username}"/>
            <td th:text="${expert.name}"/>
            <td th:text="${expert.email}"/>
            <td><a th:href="@{'/admin/experts?edit=' + ${expert.id}}">
                <img th:src="@{/img/editicon.png}" width="33" height="33" alt="edit"></a>
                <a th:href="@{'/admin/experts?delete=' + ${expert.id}}">
                    <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
            </td>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th><a th:href="@{'/admin/experts?add=1'}">
                <img th:src="@{/img/plusicon.png}" width="33" height="33" alt="add"></a></th>
        </tr>
        </tbody>
    </table>
    <br>

    <form th:id="editform" th:action="@{/admin/experts}" th:object="${editedExpert}" method="post" class="form-horizontal">
        <input th:field="${editedExpert.id}" type="hidden">
        <b>Логин</b>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="${editedExpert.username}" class="form-control"/>
        </div>
        <b>ФИО</b>
        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="${editedExpert.name}" class="form-control"/>
        </div>
        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>