<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Группы поддержки</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/admin/cats'}">[Категории]</a>
     [Группы] <a th:href="@{'/admin/users'}">[Пользователи]</a>
    <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th></th>
        </tr>
        </thead>
        <tbody th:each="team : ${teams}">
        <tr th:if="${team.id != editedTeam.id}">
            <td th:text="${team.name}"/>
            <td th:text="${team.description}"/>
            <td><a th:href="@{'/admin/teams?edit=' + ${team.id}}"
                   th:if="${team.id != editedTeam.id}">
                <img th:src="@{/img/editicon.png}" width="33" height="33" alt="edit"></a>
                <a th:href="@{'/admin/teams'}"
                   th:if="${team.id == editedTeam.id}">
                    <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="edit"></a>
                <a th:href="@{'/admin/teamedit?id=' + ${team.id}}">
                    <img th:src="@{/img/listicon.png}" width="33" height="33" alt="edit team"></a>
                <a th:href="@{'/admin/teams?delete=' + ${team.id}}"
                th:if="${team.id > 1}">
                    <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
            </td>
        </tr>
        <tr th:if="${team.id == editedTeam.id}">
            <form th:id="editform" th:action="@{/admin/teams}" th:object="${editedTeam}" method="post" class="form-horizontal">
                <input th:field="${editedTeam.id}" type="hidden">
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedTeam.name}" class="form-control"/>
                </td>
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedTeam.description}" class="form-control"/>
                </td>
                <td><div class="input-group">
                    <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Сохранить" />
                    <a th:href="@{'/admin/teams'}">
                        <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="edit"></a>
                    <a th:href="@{'/admin/teamedit?id=' + ${team.id}}">
                        <img th:src="@{/img/listicon.png}" width="33" height="33" alt="edit team"></a>
                    <a th:href="@{'/admin/teams?delete=' + ${editedTeam.id}}" th:if="${editedTeam.id > 1}">
                        <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
                </div></td>
                </form>
        </tr>
        </tbody>
        <tr>
            <th></th>
            <th></th>
            <th><a th:href="@{'/admin/teams?add=1'}">
                <img th:src="@{/img/plusicon.png}" width="33" height="33" alt="add"></a></th>
        </tr>
    </table>
    <br>
</div>

</body>
</html>