<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Список сотрудников группы</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/admin/cats'}">[Категории]</a> <a th:href="@{'/admin/teams'}">[Группы]</a>
    <a th:href="@{'/admin/users'}">[Пользователи]</a>
    <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <br>
    <span><b>Редактирование группы:</b></span>
    <div style="margin-top: 5px; margin-bottom: 5px" class="input-group">
        <select th:field="${editedTeam.id}" th:onchange="document.location='teamedit?id=' + this.options[this.selectedIndex].value">
            <option th:each="team : ${allTeams}"
                    th:value="${team.id}"
                    th:text="${team.name}">Wireframe</option>
        </select>
    </div>
    <table class="table table-hover">
        <tbody  th:each="member : ${editedTeam.users}">
        <tr>
            <td th:text="${member.username}"/></td>
            <td th:text="${member.fio}"/></td>
            <td>
            <a th:href="@{'/admin/teamedit?id=' + ${editedTeam.id} + '&delete=' + ${member.id}}">
                <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <span><b>Доступны для добавления:</b></span>
    <table class="table table-hover">
        <tbody  th:each="expert : ${availableExperts}">
        <tr>
            <td th:text="${expert.username}"/>
            <td th:text="${expert.fio}"/></td>
            <td>
                <a th:href="@{'/admin/teamedit?id=' + ${editedTeam.id} + '&add=' + ${expert.id}}">
                    <img th:src="@{/img/plusicon.png}" width="33" height="33" alt="delete"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>