<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Список пользователей</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/admin/cats'}">[Категории]</a>
    <a th:href="@{'/admin/teams'}">[Группы]</a> [Пользователи]
    <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Логин</th>
            <th>ФИО</th>
            <th>Пароль</th>
            <th>e-mail</th>
            <th>Отдел</th>
            <th>Спец</th>
            <th>Админ</th>
        </tr>
        </thead>
        <tbody th:each="user : ${allUsers}">
        <tr th:if="${user.id != editedUser.id}">
            <td th:text="${user.username}"/>
            <td th:text="${user.fio}"/>
            <td><p>*****</p></td>
            <td th:text="${user.email}"/>
            <td th:text="${user.department}"/>
            <td><img th:if="${user.containRoleSupport()}" th:src="@{/img/okicon.png}" width="20" height="20" alt="Support"></td>
            <td><img th:if="${user.containRoleAdmin()}" th:src="@{/img/okicon.png}" width="20" height="20" alt="Admin"></td>
            <td><a th:href="@{'/admin/users?edit=' + ${user.id}}"
                   th:if="${user.id != editedUser.id}">
                <img th:src="@{/img/editicon.png}" width="33" height="33" alt="edit"></a>
                <a th:href="@{'/admin/users'}"
                   th:if="${user.id == editedUser.id}">
                    <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="edit"></a>
                <a th:href="@{'/admin/users?delete=' + ${user.id}}"
                th:if="${user.id > 1}">
                    <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
            </td>
        </tr>
<!--        РЕЖИМ РЕДАКТИРОВАНИЯ-->
        <tr th:if="${user.id == editedUser.id}">
            <form th:id="editform" th:action="@{/admin/users?form=1}" th:object="${editedUser}" method="post" class="form-horizontal">
                <input th:field="${editedUser.id}" type="hidden">
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedUser.username}" type="hidden" class="form-control"/>
                    <p th:text="${editedUser.username}"></p>
                </td>
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedUser.fio}" class="form-control" placeholder="ФИО"/>
                </td>
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedUser.password}" type="hidden" class="form-control"/>
                    <input th:field="${editedUser.passwordConfirm}" type="hidden" class="form-control"/>
                    <input th:field="${editedUser.newPassword}" type="password" class="form-control" placeholder="Новый пароль"/>
                </td>
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedUser.email}" class="form-control" placeholder="E-mail *"/>
                    <div  th:each="error : ${editUserErrors}">
                        <p style="color:red" th:text="${error.getDefaultMessage()}"/></p>
                    </div>
                </td>
                <td>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input th:field="${editedUser.department}" class="form-control" placeholder="Отдел"/>
                </td>
                <td><input type="checkbox" name="support" th:checked="${editedUser.containRoleSupport()}">
                </td>
                <td><input th:if="${editedUser.id != 1}" th:type="checkbox" name="admin" th:checked="${editedUser.containRoleAdmin()}">
                    <input th:if="${editedUser.id == 1}" th:type="checkbox" name="admin" th:checked="checked" style="display:none">
                </td>
                <td><div class="input-group">
                    <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Сохранить" />
                    <a th:href="@{'/admin/users'}">
                        <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="edit"></a>
                    <a th:href="@{'/admin/users?delete=' + ${editedUser.id}}" th:if="${editedUser.id > 1}">
                        <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="delete"></a>
                </div></td>
                </form>
        </tr>
        </tbody>
<!--        ДОБАВЛЕНИЕ НОВОГО ПОЛЬЗОВАТЕЛЯ-->
        <tr>
            <form th:id="newuserform" th:action="@{/admin/users?form=2}" method="post" class="form-horizontal">
            <td><input th:field="${newUser.username}" placeholder="Новый пользователь *">
                <p style="color:red" th:text="${newUsernameError}"></p></td>
            <td></td>
            <td><input th:field="${newUser.password}" type="password" placeholder="Новый пароль *">
                <p style="color:red" th:text="${newPasswordError}"></p></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
                <td><input type="image" th:src="@{/img/plusicon.png}" width="33" height="33" alt="Добавить" /></td>
            </form>
        </tr>
    </table>
    <br>
</div>

</body>
</html>