<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Список обращений в работе</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/support/tickets?team=0&status=1'}">[Все обращения]</a> [В работе]
    <a th:href="@{'/support/account'}">[Мои данные]</a> <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Заявитель</th>
            <th>Исполнитель</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        </thead>
        <tbody  th:each="ticket : ${tickets}">
        <tr>
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.applicant.fio}"></td>
            <td th:if="${ticket.expert != null}" th:text="${ticket.expert.fio}"></td>
            <td th:if="${ticket.expert == null}">Не назначен</td>
            <td th:text="${ticket.category.name}"></td>
            <td th:text="${ticket.shortDescription}"></td>
            <td th:text="${ticket.creationDate.toLocaleString()}"></td>
            <td>
                <a th:href="@{'/support/ticket?id=' + ${ticket.id}}">
                    <img th:src="@{/img/listicon.png}" width="33" height="33" alt="Обращение"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>