<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Список обращений</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> [Все обращения] <a th:href="@{'/support/inwork'}">[В работе]</a>
    <a th:href="@{'/support/account'}">[Мои данные]</a> <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <form name="searchTicketByIdForm" action="ticket" method="get" target="_blank">
        <div style="margin-bottom: 5px; margin-top: 5px;" class="input-group">
        <input type="number" name="id" placeholder="Номер обращения">
            <input hidden id="searchByIdButton" type="submit"/>
            <a href="javascript: document.getElementById('searchByIdButton').click()">
                <img th:src="@{/img/searchicon.png}" width="30" height="30" alt="Найти"></a>
        </div>
    </form>
    <div style="margin-top: 5px; margin-bottom: 5px" class="input-group">
        <select  th:id="teamSelector" th:field="${selectedTeam.id}" th:onchange="document.location='tickets?team=' + teamSelector.options[teamSelector.selectedIndex].value
                    + '&status=' + statusSelector.options[statusSelector.selectedIndex].value">
            <option th:each="team : ${currentExpertSupportTeams}"
                    th:value="${team.id}"
                    th:text="${team.name}"></option>
        </select>
    </div>
    <div style="margin-top: 5px; margin-bottom: 5px" class="input-group">
        <select  th:id="statusSelector" th:field="${selectedStatus.id}" th:onchange="document.location='tickets?team=' + teamSelector.options[teamSelector.selectedIndex].value
                    + '&status=' + statusSelector.options[statusSelector.selectedIndex].value">
            <option th:each="status : ${allStatuses}"
                    th:value="${status.id}"
                    th:text="${status.description}"></option>
        </select>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Заявитель</th>
            <th>Исполнитель</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        </thead>
        <tbody  th:each="ticket : ${tickets}">
        <tr>
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.applicant.fio}"></td>
            <td th:if="${ticket.expert != null}" th:text="${ticket.expert.fio}"></td>
            <td th:if="${ticket.expert == null}">Не назначен</td>
            <td th:text="${ticket.category.name}"></td>
            <td th:text="${ticket.shortDescription}"></td>
            <td th:text="${ticket.creationDate.toLocaleString()}"></td>
            <td>
                <a th:if="${ticket.id != selectedTicket.id}" th:href="@{'/support/ticket?id=' + ${ticket.id}}">
                    <img th:src="@{/img/listicon.png}" width="33" height="33" alt="Обращение"></a>
            </td>
        </tr>
<!--        БЛОК ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ-->
        <tr th:if="${ticket.id == selectedTicket.id}">
            <td colspan="6">
                <p><b>Описание проблемы</b></p>
                <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.description}" rows="3"></textarea>
                <br>
                <p><b>Переписка с пользователем</b></p>
                <form th:if="${selectedTicket.active}" th:id="messageToChatForm" th:action="@{/user/chat}" method="post" th:object="${selectedTicket}" class="form-horizontal">
                    <div style="margin-bottom: 5px" class="input-group">
                        <input style="width: 70%;" th:field="${selectedTicket.messageToChat}" maxlength="1000" placeholder="Написать сообщение">
                        <input th:field="${selectedTicket.id}" type="hidden">
                        <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Отправить сообщение"/>
                    </div>
                </form>
                <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.chat}" rows="3"></textarea>
                <br>
        <div th:if="${ticket.id == selectedTicket.id && attachesList.size() > 0}" th:each="attach : ${attachesList}" >
            <a th:href="${attach.url}"><p th:text="${attach.name}"></p></a>
        </div>
                <br>
                <form th:if="${selectedTicket.active}" th:id="newAttachForm" th:action="@{/user/upload}" method="post" th:object="${selectedTicket}" class="form-horizontal" enctype="multipart/form-data">
                    <div style="margin-bottom: 5px" class="input-group">
                        <p><b>Прикрепить новый файл (не более 5МБ)</b></p>
                    </div>
                    <div style="margin-bottom: 5px" class="input-group">
                        <input th:field="${selectedTicket.id}" type="hidden">
                        <input type="file" name="file"/>
                        <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Добавить файл"/>
                    </div>
                    <div style="margin-bottom: 5px" class="input-group">
                        <p th:if="${attachError != null}" style="color:red" th:text="${attachError}"/></p>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>