<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Список обращений</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/support/tickets'}">[Все обращения]</a> <a th:href="@{'/support/inwork'}">[В работе]</a>
    <a th:href="@{'/support/account'}">[Мои данные]</a> <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Статус</th>
            <th>Заявитель</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Дата создания</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.status.description}"></td>
            <td th:text="${ticket.applicant.fio}"></td>
            <td th:text="${ticket.category.name}"></td>
            <td th:text="${ticket.shortDescription}"></td>
            <td th:text="${ticket.creationDate.toLocaleString()}"></td>
        </tr>
        </tbody>
    </table>
<!--        БЛОК ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ-->
    <a th:if="${ticket.status.id == 1 && !readOnly}" th:href="@{'/support/ticket?id=' + ${ticket.id} + '&taketowork=' + ${ticket.id}}">[Взять в работу]</a>
    <a th:if="${!readOnly}" href="javascript: document.getElementById('assignTeamForm').hidden = false; document.getElementById('assignExpertForm').hidden = true;">[Переназначить на группу]</a>
    <a th:if="${!readOnly}" href="javascript: document.getElementById('assignExpertForm').hidden = false; document.getElementById('assignTeamForm').hidden = true;">[Назначить на специалиста]</a>
    <p th:if="${commentIsEmptyError != null}" style="color:red" th:text="${commentIsEmptyError}"></p>
    <form hidden id="assignTeamForm" th:action="@{/support/reassignteam}" method="post" th:object="${assignTeam}" class="form-horizontal">
        <div class="input-group">
            <select  th:id="reassignTeamSelector" th:field="${assignTeam.newTeamId}">
                <option th:each="team : ${availableTeams}"
                        th:value="${team.id}"
                        th:text="${team.name}"></option>
            </select>
            <input hidden th:field="${assignTeam.ticketId}">
            <input th:field="${assignTeam.comment}" placeholder="Комментарий *">
            <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Выполнить"/>
            <a href="javascript: document.getElementById('assignTeamForm').hidden = true;">
                <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="Отмена"></a>
        </div>
    </form>
    <form hidden id="assignExpertForm" th:action="@{/support/assignexpert}" method="post" th:object="${assignExpert}" class="form-horizontal">
        <div class="input-group">
            <select  th:id="assignExpertSelector" th:field="${assignExpert.newExpertId}">
                <option th:each="expert : ${availableExperts}"
                        th:value="${expert.id}"
                        th:text="${expert.fio}"></option>
            </select>
            <input hidden th:field="${assignExpert.ticketId}">
            <input th:field="${assignExpert.comment}" placeholder="Комментарий *">
            <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Выполнить"/>
            <a href="javascript: document.getElementById('assignExpertForm').hidden = true;">
                <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="Отмена"></a>
        </div>
    </form>
    <div th:if="${ticket.expert != null}">
    <a th:if="${ticket.expert.equals(currentUser) && !readOnly}" href="javascript:
    document.getElementById('declineForm').hidden = true; document.getElementById('solutionForm').hidden = false;">[Выполнить]</a>
    <a th:if="${ticket.expert.equals(currentUser) && !readOnly}" href="javascript:
    document.getElementById('solutionForm').hidden = true; document.getElementById('declineForm').hidden = false;">[Отклонить]</a>
<!--    <a th:if="${ticket.expert.equals(currentUser) && !readOnly}" th:href="@{'/support/ticket?id=' + ${ticket.id} + '&transfer=' + ${ticket.id}}">[Передать во внешнюю систему]</a>-->
        <span th:if="${ticket.expert.equals(currentUser) && !readOnly}"> [Передать во внешнюю систему] </span>
    <p th:if="${solutionIsEmptyError != null}" style="color:red" th:text="${solutionIsEmptyError}"></p>
    <p th:if="${declineIsEmptyError != null}" style="color:red" th:text="${declineIsEmptyError}"></p>
    </div>
    <form hidden id="solutionForm" th:action="@{/support/solution}" method="post" th:object="${solution}" class="form-horizontal">
        <b>Решение:</b>
        <div class="input-group">
            <textarea style="width: 100%; background: transparent; outline: none;" th:field="${solution.solution}" rows="3" placeholder="Опишите решение обращения"></textarea>
            <input hidden th:field="${solution.ticketId}">
            <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Выполнить"/>
            <input id="resetButton" type="reset" hidden th:src="@{/img/okicon.png}" width="33" height="33" alt="Выполнить"/>
            <a href="javascript: document.getElementById('resetButton').click(); document.getElementById('solutionForm').hidden = true;">
                <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="Отмена"></a>
        </div>
    </form>
    <form hidden id="declineForm" th:action="@{/support/decline}" th:object="${decline}" method="post" class="form-horizontal">
        <b>Причина отклонения:</b>
        <div class="input-group">
            <textarea style="width: 100%; background: transparent; outline: none;" th:field="${decline.decline}" rows="3" placeholder="Опишите причину отклонения"></textarea>
            <input hidden th:field="${decline.ticketId}">
            <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Выполнить"/>
            <input id="resetButton2" type="reset" hidden th:src="@{/img/okicon.png}" width="33" height="33" alt="Выполнить"/>
            <a href="javascript: document.getElementById('resetButton2').click(); document.getElementById('declineForm').hidden = true;">
                <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="Отмена"></a>
        </div>
    </form>

    <p><b>Текущая группа: </b><span th:text="${ticket.currentTeam.name}"></span></p>
    <p><b>Текущий специалист: </b><span th:if="${ticket.expert != null}" th:text="${ticket.expert.fio}"></span>
<!--        <a th:if="${ticket.status.id == 3 && !readOnly && ticket.expert != null && ticket.expert.id != currentUserId}"-->
        <a th:if="${ticket.status.id == 3 && !readOnly && ticket.expert != null &&!ticket.expert.equals(currentUser)}"
           th:href="@{'/support/ticket?id=' + ${ticket.id} + '&steal=' + ${ticket.id}}">[Забрать себе]</a>
        <a th:if="${ticket.status.id == 3 && !readOnly && ticket.expert == null}"
         th:href="@{'/support/ticket?id=' + ${ticket.id} + '&steal=' + ${ticket.id}}">[Взять в работу]</a>
    </p>
    <p><b>Описание проблемы</b></p>
    <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.description}" rows="3"></textarea>
    <br>
    <p><b>Переписка с пользователем</b></p>
    <form name="sendMessageForm" th:if="${ticket.active && !readOnly}" th:id="messageToChatForm" th:action="@{/support/chat}" method="post" th:object="${ticket}" class="form-horizontal">
        <div style="margin-bottom: 5px" class="input-group">
            <input style="width: 70%;" th:field="${ticket.messageToChat}" maxlength="1000" placeholder="Написать сообщение">
            <input th:field="${ticket.id}" type="hidden">
            <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Отправить сообщение"/>
        </div>
    </form>
    <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.chat}" rows="3"></textarea>
<!--    <br>-->
    <table th:cellpadding="3"><tr>
        <td th:if="${attachesList.size() > 0}" th:each="attach : ${attachesList}" >
            <a th:href="${attach.url}"><p th:text="'[' + ${attach.name} + ']'"></p></a>
        </td>
    </tr></table>
                <form th:if="${ticket.active && !readOnly}" th:id="newAttachForm" th:action="@{/support/upload}" method="post" th:object="${ticket}"
                      class="form-horizontal" enctype="multipart/form-data">
                    <div style="margin-bottom: 5px" class="input-group">
                        <p><b>Прикрепить новый файл (не более 5МБ)</b></p>
                    </div>
                    <div style="margin-bottom: 5px" class="input-group">
                        <input th:field="${ticket.id}" type="hidden">
                        <input type="file" name="file"/>
                        <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Добавить файл"/>
                    </div>
                    <div style="margin-bottom: 5px" class="input-group">
                        <p th:if="${attachError != null}" style="color:red" th:text="${attachError}"></p>
                    </div>
                </form>
                <p><b>Лог обращения</b></p>
                <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.log}" rows="5"></textarea>
</div>

</body>
</html>