<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Мои данные</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/user/tickets'}">[Мои обращения]</a>
    <a th:href="@{'/user/archive'}">[Архив]</a> [Мои данные]
    <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <div th:align="center">
        <form th:id="editform" th:action="@{/user/account}" th:object="${editedUser}" method="post" class="form-horizontal">
            <b th:text="${editedUser.username}"></b>
            <div style="margin-bottom: 3px">
                <input th:field="${editedUser.id}" type="hidden">
                <input th:field="${editedUser.enabled}" type="hidden">
                <input th:field="${editedUser.username}" type="hidden">
                <input th:field="${editedUser.password}" type="hidden">
            </div>
            <div style="margin-bottom: 3px">
                <input th:field="${editedUser.fio}" type="text" placeholder="ФИО"  autofocus="true">
                </tbody>
            </div>
            <div style="margin-bottom: 3px">
                <input th:field="${editedUser.email}" type="text" placeholder="e-mail *">
                </tbody>
            </div>
            <div style="margin-bottom: 3px">
                <input th:field="${editedUser.department}" type="text" placeholder="Отдел">
                <tbody  th:each="error : ${editUserErrors}">
                <p style="color:red" th:text="${error.getDefaultMessage()}"/></p>
                </tbody>
            </div>
            <button type="submit">Сохранить</button>
        </form>
        <br>
        <b>Изменить пароль</b>
        <form th:id="passwordform" th:action="@{/user/password}" th:object="${editedUser}" method="post" class="form-horizontal">
            <div style="margin-bottom: 3px">
                <input th:field="${editedUser.password}" type="hidden">
                <input th:field="${editedUser.oldPassword}" type="password" placeholder="Старый пароль *">
            </div>
            <div style="margin-bottom: 3px">
                <input th:field="${editedUser.newPassword}" type="password" placeholder="Новый пароль *">
            </div>
            <div style="margin-bottom: 3px">
                <input th:field="${editedUser.passwordConfirm}" type="password"
                       placeholder="Повторите пароль *">
                <p th:if="${passwordError!=null}" style="color:red" th:text="${passwordError}"></p>
            </div>
            <button type="submit">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>