<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Архив обращений</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> <a th:href="@{'/user/tickets'}">[Мои обращения]</a> [Архив]
    <a th:href="@{'/user/account'}">[Мои данные]</a> <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        </thead>
        <tbody  th:each="ticket : ${myTickets}">
        <tr>
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.category.name}"></td>
            <td th:text="${ticket.shortDescription}"></td>
            <td th:text="${ticket.creationDate.toLocaleString()}"></td>
            <td>
                <a th:if="${ticket.id != currentTicket.id}" th:href="@{'/user/archive?info=' + ${ticket.id}}">
                    <img th:src="@{/img/listicon.png}" width="33" height="33" alt="Расширенная информация"></a>
                <a th:if="${ticket.id == currentTicket.id}" th:href="@{'/user/archive'}">
                    <img th:src="@{/img/minusicon.png}" width="33" height="33" alt="Скрыть расширенную информацию"></a>
                <a th:href="@{'/user/archive?delete=' + ${ticket.id}}">
                    <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="Удалить"></a>
            </td>
        </tr>
<!--        БЛОК ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ-->
        <tr th:if="${ticket.id == currentTicket.id}">
            <td colspan="5">
                <p><b>Описание проблемы</b></p>
                <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.description}" rows="3"></textarea>
                <br>
                <p><b>Переписка с группой поддержки</b></p>
                <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.chat}" rows="3"></textarea>
                <br>
        <div th:if="${ticket.id == currentTicket.id && attachesList.size() > 0}" th:each="attach : ${attachesList}" >
            <a th:href="${attach.url}"><p th:text="${attach.name}"></p></a>
        </div>
        </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>