<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Мои обращения</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <a th:href="@{'/'}">[На главную]</a> [Мои обращения] <a th:href="@{'/user/archive'}">[Архив]</a>
    <a th:href="@{'/user/account'}">[Мои данные]</a> <a href="javascript: document.logoutForm.submit()" role="menuitem">[Выход]</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Статус</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
        </thead>
        <tbody  th:each="ticket : ${myTickets}">
        <tr>
            <td th:text="${ticket.id}"></td>
            <td th:text="${ticket.status.description}"></td>
            <td th:text="${ticket.category.name}"></td>
            <td th:text="${ticket.shortDescription}"></td>
            <td th:text="${ticket.creationDate.toLocaleString()}"></td>
            <td>
                <a th:if="${ticket.id != currentTicket.id}" th:href="@{'/user/tickets?info=' + ${ticket.id}}">
                    <img th:src="@{/img/listicon.png}" width="33" height="33" alt="Расширенная информация"></a>
                <a th:if="${ticket.id == currentTicket.id}" th:href="@{'/user/tickets'}">
                    <img th:src="@{/img/minusicon.png}" width="33" height="33" alt="Скрыть расширенную информацию"></a>
                <a th:href="@{'/user/tickets?archive=' + ${ticket.id}}">
                    <img th:src="@{/img/deleteicon.png}" width="33" height="33" alt="Перевести в архив"></a>
            </td>
        </tr>
<!--        БЛОК ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИИ-->
        <tr th:if="${ticket.id == currentTicket.id}">
            <td colspan="6">
                <p><b>Описание проблемы</b></p>
                <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.description}" rows="3"></textarea>
                <br>
                <p><b>Переписка с группой поддержки</b></p>
                <form th:if="${currentTicket.active}" th:id="messageToChatForm" th:action="@{/user/chat}" method="post" th:object="${currentTicket}" class="form-horizontal">
                    <div style="margin-bottom: 5px" class="input-group">
                        <input style="width: 70%;" th:field="${currentTicket.messageToChat}" maxlength="1000" placeholder="Написать сообщение">
                        <input th:field="${currentTicket.id}" type="hidden">
                        <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Отправить сообщение"/>
                    </div>
                </form>
                <textarea readonly style="width: 100%; background: transparent; outline: none;" th:text="${ticket.chat}" rows="3"></textarea>
                <table th:frameborder="0" th:border="0"><tr>
                    <td th:if="${ticket.id == currentTicket.id && attachesList.size() > 0}" th:each="attach : ${attachesList}" >
                        <a th:href="${attach.url}"><p th:text="${attach.name}"></p></a>
                    </td>
                </tr></table>
                <form th:if="${currentTicket.active}" th:id="newAttachForm" th:action="@{/user/upload}" method="post" th:object="${currentTicket}" class="form-horizontal" enctype="multipart/form-data">
                    <div style="margin-bottom: 5px" class="input-group">
                        <p><b>Прикрепить новый файл (не более 5МБ)</b></p>
                    </div>
                    <div style="margin-bottom: 5px" class="input-group">
                        <input th:field="${currentTicket.id}" type="hidden">
                        <input type="file" name="file"/>
                        <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Добавить файл"/>
                    </div>
                    <div style="margin-bottom: 5px" class="input-group">
                        <p th:if="${attachError != null}" style="color:red" th:text="${attachError}"/></p>
                    </div>
                </form>
            </td>
        </tr>
        </tbody>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th><a th:href="@{'/user/tickets?add=1'}">
                <img th:src="@{/img/plusicon.png}" width="33" height="33" alt="add"></a></th>
        </tr>
    </table>
<!--    ФОРМА СОЗДАНИЯ НОВОГО ОБРАЩЕНИЯ-->
    <div th:if="${showNewTicketForm}">
        <form th:id="newTicketForm" th:action="@{/user/tickets}" th:object="${newTicket}" method="post" class="form-horizontal"
              enctype="multipart/form-data">
            <input th:field="${newTicket.id}" type="hidden">
            <p><b>Создать новое обращение</b></p>
            <div style="margin-bottom: 10px" class="input-group">
                <select id="catSelector" th:field="${newTicket.category.id}">
                    <option th:each="category : ${supportCategories}"
                            th:value="${category.id}"
                            th:text="${category.description}"
                    ></option>
                </select>
            </div>
            <div style="margin-bottom: 5px" class="input-group">
                <input th:field="${newTicket.shortDescription}" placeholder="Краткое описание *">
            </div>
            <tbody  th:each="error : ${newTicketFormErrors}">
            <p style="color:red" th:text="${error.getDefaultMessage()}"/></p>
            </tbody>
            <div style="margin-bottom: 5px" class="input-group">
                <textarea th:field="${newTicket.description}" class="form-control" placeholder="Полное описание *" rows="10"/>
            </div>
            <div>
                <p>Прикрепить файл (не более 5МБ)</p>
            </div>
            <div style="margin-bottom: 5px" class="input-group">
                <input type="file" name="file" />
            </div>
            <div style="margin-bottom: 5px" class="input-group">
                <p th:if="${attachError != null}" style="color:red" th:text="${attachError}"/></p>
            </div>
            <div class="input-group">
                <input type="image" th:src="@{/img/okicon.png}" width="33" height="33" alt="Создать"/>
                <a th:href="@{'/user/tickets'}">
                    <img th:src="@{/img/cancelicon.png}" width="33" height="33" alt="edit"></a>
            </div></td>
        </form>
    </div>
</div>

</body>
</html>