<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>EasyDesk - a simple helpdesk for all your needs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th><a th:href="@{'/admin/cats'}">[Вход для администраторов]</a></th>
        <th><a th:href="@{'/support/tickets?team=0&status=1'}">[Вход для специалистов]</a></th>
        <th><a th:href="@{'/user/tickets'}">[Вход для пользователей]</a></th>
        <th><a th:href="@{'/reg'}">[Регистрация]</a></th>
    </tr>
    </thead>
</table>
</body>
</html>