<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>EasyDesk - a simple helpdesk for all your needs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<table class="table table-hover">
    <thead>
        <th><a th:href="@{'/admin/cats'}">[Вход для администраторов]</a></th>
        <th><a th:href="@{'/support/tickets?team=0&status=1'}">[Вход для специалистов]</a></th>
        <th><a th:href="@{'/user/tickets'}">[Вход для пользователей]</a></th>
        <th>[Регистрация]</th>
    </thead>
</table>
<div th:align="center">
    <form th:id="editform" th:action="@{/reg}" th:object="${userForm}" method="post" class="form-horizontal">
        <h2>Регистрация</h2>
        <div style="margin-bottom: 3px">
            <input th:field="${userForm.id}" type="hidden">
            <input th:field="${userForm.enabled}" type="hidden">
            <input th:field="${userForm.username}" type="text" placeholder="Логин *" autofocus="true">
            <p th:if="${usernameError!=null}" style="color:red" th:text="${usernameError}"></p>
        </div>
        <div style="margin-bottom: 3px">
            <input th:field="${userForm.password}" type="password" placeholder="Пароль *">
        </div>
        <div style="margin-bottom: 3px">
            <input th:field="${userForm.passwordConfirm}" type="password"
                   placeholder="Повторите пароль *">
            <p th:if="${passwordError!=null}" style="color:red" th:text="${passwordError}"></p>
        </div>
        <div style="margin-bottom: 3px">
            <input th:field="${userForm.email}" type="text" placeholder="e-mail *">
            </tbody>
        </div>
        <div style="margin-bottom: 3px">
            <input th:field="${userForm.fio}" type="text" placeholder="ФИО">
            </tbody>
        </div>
        <div style="margin-bottom: 3px">
            <input th:field="${userForm.department}" type="text" placeholder="Отдел">
            <tbody  th:each="error : ${registerFormErrors}">
            <p style="color:red" th:text="${error.getDefaultMessage()}"/></p>
            </tbody>
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
</div>
</body>
</html>